<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head th:replace="partials/navbar::head">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<nav th:replace="partials/navbar::navbar"></nav>
<div class="container">
    <h2 class="my-4">Salida de vehículo</h2>
            <div class="card">
            <h6 class="card-header">Información del parqueo</h6>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <p class="card-text mb-0">Valor a pagar:</p>
                            <p class="value">$[[${parqueadero.total}]]</p>
                        </div>
                        <div class="col-md-3">
                            <p class="card-text">Fecha ingreso: <b>[[${parqueadero.ingreso}]]</b></p>
                            <p class="card-text">Fecha de salida: <b>[[${parqueadero.salida}]]</b></p>
                        </div>
                        <div class="col-md-2">
                            <p class="card-text">Placa: <b class="uppercase">[[${vehiculo.placa}]]</b></p>
                            <p class="card-text">Tipo: <b>[[${vehiculo.tipo}]]</b></p>
                        </div>
                        <div class="col-md-3">
                            <p class="card-text">Nombre usuario: <b class="capitalize">[[${vehiculo.usuario.name}]]</b></p>
                            <p class="card-text">Teléfono: <b>[[${vehiculo.usuario.telephone}]]</b></p>
                        </div>
                    </div>
                </div>
            </div>
    <div class="d-flex justify-content-end mt-4">
        <a th:href="@{/eliminar/}+${parqueadero.parqueadero_id}" class="btn btn-warning">Dar salida al vehículo<i class="fas fa-car-side ms-2"></i></a>
    </div>

</div>
<div th:replace="partials/navbar::scripts"></div>
</body>
</html>