<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head th:replace="partials/navbar::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar::navbar"></nav>
<div class="container mt-5">
    <h2 class="font-normal mb-3">Listado de vehículos parqueados</h2>
    <section>
        <div class="row">
            <div class="col">
                <table class="table" id="parqueaderos">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Fecha de ingreso</th>
                        <th scope="col">Placa del vehículo</th>
                        <th scope="col">Acción</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="park : ${parqueaderos}">
                        <td scope="row" th:text="${park.parqueadero_id}"></td>
                        <td th:text="${park.ingreso}"></td>
                        <td th:text="${park.placa}" class="uppercase"></td>
                        <td>
                            <a th:href="@{'/parqueadero/'+${park.parqueadero_id}+'/'+${park.placa}}" class="btn btn-outline-danger btn-sm">Salida de vehículo</a>
                        </td>

                    </tr>
                    </tbody>
                </table>

            </div>



        </div>


    </section>



</div>

<!-- Footer -->
<footer class="footer_color text-center text-white">
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white">CESDE</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<div th:replace="partials/navbar::scripts"></div>
<script>
$(document).ready(function() {
    $('#parqueaderos').DataTable({
        language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
    });
    $("#active2").addClass("btn-primary");
    $("#active2").addClass("color-active");
} );
</script>

</body>
</html>