.box-shadow{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 10px #888888;
  border: none
}

body{
background:#fafafa;
}


h1,h2,h3{
font-family: 'Roboto', sans-serif;
}

.font-normal{
font-style: normal;
}

p{
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

.title-text{
color: #f1b77c;
}

.navbar-dark .navbar-nav .nav-link{
color: #2B2B2B !important;
}

.nav-link{
border-bottom: 2px solid transparent;
}

.bg-navbar{
background:white;
-webkit-box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.31);
box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.31);
}

.body-card{
border-color: #f1b77c;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

.footer_color{
background-color: #58566e;
}

.require{
color: red;
}

#logoheader{
width: 60px;
}

.card-custom{
border:none;
border-radius:8px;
-webkit-box-shadow: 0px 4px 26px -6px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 4px 26px -6px rgba(0,0,0,0.31);
box-shadow: 0px 4px 26px -6px rgba(0,0,0,0.31);
}

.offcanvas-bottom{
height:auto;
}

.input-plate{
height:60px;
font-size:40px;
text-transform: uppercase;
}

.uppercase{
text-transform: uppercase;
}

.capitalize{
text-transform: capitalize;
}

.table{
background:white;
-webkit-box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.31);
box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.31);
}

.color-active{
color:white !important;
}

.card-body .value{
font-size: 30px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination{
margin-bottom: 90px !important;
}