<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/navbar::head">
    <meta charset="UTF-8">

</head>
<body>
<nav th:replace="partials/navbar::navbar"></nav>
<div class="container mt-5">
    <h2 class="font-normal mb-3">Administración de usuarios</h2>
    <section>
<div class="row">
    <div class="col">
        <table class="table" id="users">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Placa del vehículo</th>
                <th scope="col">Tipo de vehículo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vehiculo : ${vehiculos}">
                <td scope="row" th:text="${vehiculo.usuario.id}"></td>
                <td th:text="${vehiculo.usuario.name}" class="capitalize"></td>
                <td th:text="${vehiculo.usuario.email}"></td>
                <td th:text="${vehiculo.usuario.telephone}"></td>
                <td th:text="${vehiculo.placa}" class="uppercase"></td>
                <td th:text="${vehiculo.tipo}"></td>

            </tr>
            </tbody>
        </table>

    </div>



</div>


    </section>



</div>

<!-- Footer -->
<footer class="footer_color text-center text-white">

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white">CESDE</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<div th:replace="partials/navbar::scripts"></div>
<script>
$(document).ready(function() {
    $('#users').DataTable({
        language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
    });
    $("#active3").addClass("btn-primary");
    $("#active3").addClass("color-active");
} );
</script>
</body>
</html>